# ðŸ¼ Pandas - Class 11: Advanced Tricks & Performance
Welcome to **Class 11** of our Pandas series. Today weâ€™ll explore advanced techniques to write efficient, clean, and optimized Pandas code.

In [1]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Math': [85, 72, 91, 68, 79],
    'Science': [78, 65, 88, 70, 82]
}

df = pd.DataFrame(data)
print(df)

      Name  Math  Science
0    Alice    85       78
1      Bob    72       65
2  Charlie    91       88
3    David    68       70
4      Eve    79       82

## 1. Applying Custom Functions with `apply()` / `map()`
- `apply()` lets you apply a custom function across rows or columns.
- `map()` is for applying functions element-wise to a Series.
- Both are handy for transformations, calculations, and cleaning data.

In [4]:
df['Total Marks'] = df[['Math','Science']].apply(lambda x: x.sum(), axis=1)
print(df)

      Name  Math  Science  Total Marks
0    Alice    85       78          163
1      Bob    72       65          137
2  Charlie    91       88          179
3    David    68       70          138
4      Eve    79       82          161

In [5]:
col_mean = df[['Math','Science']].apply(lambda x: x.mean(), axis=0)
print(col_mean)
#

Math       79.0
Science    76.6
dtype: float64

In [6]:
def grade(s):
  if s >= 90:
    return "A"
  elif s >= 80:
    return "B"
  elif s >= 70:
    return "C"
  elif s >= 60:
    return "D"
  else:
    return "F"
df['Grade'] = df['Total Marks'].map(grade)
print(df)

      Name  Math  Science  Total Marks Grade
0    Alice    85       78          163     A
1      Bob    72       65          137     A
2  Charlie    91       88          179     A
3    David    68       70          138     A
4      Eve    79       82          161     A