# üêº Pandas - Class 8: Working with Time Series
Welcome to **Class 8** of our Pandas series. Today we‚Äôll learn how to handle and analyze time series data.

## 1. Converting Columns to Datetime (`pd.to_datetime`)
- Use `pd.to_datetime()` to convert strings or numbers into datetime objects.
- Once converted, Pandas recognizes them as dates, enabling powerful operations.

In [12]:
import pandas as pd

# Create a dictionary with sample data
data = {
    'orderid': [1001, 1002, 1003, 1004, 1005],
    'orderdate': ['2023-01-01', '2023-01-05', '2023-01-10', '2023-01-15', '2023-01-20'],
    'customer name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'amount': [150.75, 200.00, 50.25, 300.50, 120.00]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   orderid   orderdate customer name  amount
0     1001  2023-01-01         Alice  150.75
1     1002  2023-01-05           Bob  200.00
2     1003  2023-01-10       Charlie   50.25
3     1004  2023-01-15         David  300.50
4     1005  2023-01-20           Eve  120.00

## 2. Setting DateTime Index & Resampling
- Set a datetime column as the index with `set_index()`.
- Resample time series using `resample('M').mean()` or other rules ('D', 'W', 'Y').
- Useful for aggregating data by time periods.

In [15]:
df.set_index('orderdate')

            orderid customer name  amount
orderdate
2023-01-01     1001         Alice  150.75
2023-01-05     1002           Bob  200.00
2023-01-10     1003       Charlie   50.25
2023-01-15     1004         David  300.50
2023-01-20     1005           Eve  120.00

## mini-project

Converting columns to datetime (pd.to_datetime)

Setting a DateTime index & resampling

In [14]:

# 1Ô∏è‚É£ Create a dataset of website visits (string dates + visit counts)

# 2Ô∏è‚É£ Convert VisitDate to datetime
# Write your code here

# 3Ô∏è‚É£ Set VisitDate as the index
# Write your code here

# 4Ô∏è‚É£ Resample to get total visitors per month
# Write your code here

# 5Ô∏è‚É£ Resample to get average visitors per week
# Write your code here

---
## Summary
- Converted columns to datetime with `pd.to_datetime`.
- Set DateTime index and resampled data.
- Performed date-based filtering and slicing.
- Applied rolling and expanding window calculations.