In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [86]:
df = pd.read_csv('movies_metadata.csv')
df.head()

C:\Users\sayan\AppData\Local\Temp\ipykernel_2900\3991525872.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [87]:
df.shape

(45466, 24)

In [88]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [89]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [90]:
df['belongs_to_collection'].fillna('No Collection', inplace=True)

C:\Users\sayan\AppData\Local\Temp\ipykernel_2900\3138640010.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['belongs_to_collection'].fillna('No Collection', inplace=True)

In [91]:
df['homepage'].fillna('No HomePage', inplace=True)

C:\Users\sayan\AppData\Local\Temp\ipykernel_2900\1161496092.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['homepage'].fillna('No HomePage', inplace=True)

In [92]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [93]:
df_new = df[['title', 'overview', 'genres', 'vote_average', 'popularity', 'tagline']]
df_new.head()

,title,overview,genres,vote_average,popularity,tagline
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,21.946943,NaN
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,17.015539,Roll the dice and unleash the excitement!
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6.5,11.7129,Still Yelling. Still Fighting. Still Ready for...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6.1,3.859495,Friends are the people who let you be yourself...
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",5.7,8.387519,Just When His World Is Back To Normal... He's ...

In [94]:
df_new.isna().sum()

title               6
overview          954
genres              0
vote_average        6
popularity          5
tagline         25045
dtype: int64

In [95]:
df_new = df_new.dropna(subset=['title'])

In [96]:
df_new['overview'].fillna('', inplace=True)

C:\Users\sayan\AppData\Local\Temp\ipykernel_2900\3144735247.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['overview'].fillna('', inplace=True)

In [97]:
df_new.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [98]:
import ast
df_new['genres'] = df_new['genres'].apply(lambda x : ' '.join([i["name"] for i in ast.literal_eval(x)]))

In [99]:
df_new['genres']

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45461                Drama Family
45462                       Drama
45463       Action Drama Thriller
45464
45465
Name: genres, Length: 45447, dtype: object

In [100]:
df_new['tagline'].fillna('', inplace=True)

C:\Users\sayan\AppData\Local\Temp\ipykernel_2900\2338818769.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['tagline'].fillna('', inplace=True)

In [101]:
df_new['tags'] = df_new['overview'] + ' ' + df_new['genres'] + ' ' + df_new['tagline']

In [102]:
df_new.head()

,title,overview,genres,vote_average,popularity,tagline,tags
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,7.7,21.946943,,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,6.9,17.015539,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,6.5,11.7129,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,6.1,3.859495,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,5.7,8.387519,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...

In [103]:
df_new['tags'][1]

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures. Adventure Fantasy Family Roll the dice and unleash the excitement!"

In [104]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import  WordNetLemmatizer
import re

In [105]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sayan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [106]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [107]:
def preprocess_text(text):
    # Lowercase the text
    text = text.lower()
    # Remove special characters and digits
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    # Tokenize the text
    words = text.split()
    # Remove stopwords and lemmatize
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    return ' '.join(words)

In [108]:
df_new['tags'] = df_new['tags'].apply(preprocess_text)
df_new['tags'].head()

0    led woody andys toy live happily room andys bi...
1    sibling judy peter discover enchanted board ga...
2    family wedding reignites ancient feud nextdoor...
3    cheated mistreated stepped woman holding breat...
4    george bank recovered daughter wedding receive...
Name: tags, dtype: object

In [109]:
df_new = df_new.reset_index(drop=True)

In [110]:
indices = pd.Series(df_new.index, index=df_new['title']).drop_duplicates()
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45442
Century of Birthing            45443
Betrayal                       45444
Satan Triumphant               45445
Queerama                       45446
Length: 45447, dtype: int64

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [112]:
tfidf = TfidfVectorizer(max_features=50000,ngram_range=(1,2),stop_words='english')

In [113]:
tfidf_matrix = tfidf.fit_transform(df_new['tags'])
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1548416 stored elements and shape (45447, 50000)>

In [114]:
from sklearn.metrics.pairwise import cosine_similarity

In [119]:
def recommend(title, n = 10):
  if title not in indices:
    return ['Movie not found']

  idx = indices[title]
  # Handle duplicate titles by taking the first occurrence
  if isinstance(idx, pd.Series):
    idx = idx.iloc[0]
  
  sim_score = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
  similar_idx = sim_score.argsort()[::-1][1:n+1]
  return df_new['title'].iloc[similar_idx]

In [127]:
recommend('Kuch Kuch Hota Hai',5)

9255     Kabhi Khushi Kabhie Gham
34392          Jaanam Samjha Karo
34291                      Masoom
36344         Na Tum Jaano Na Hum
34316       Hum Hain Rahi Pyar Ke
Name: title, dtype: object

In [ ]:
# print(f"df_new shape: {df_new.shape}")
# print(f"tfidf_matrix shape: {tfidf_matrix.shape}")
# print(f"indices length: {len(indices)}")

df_new shape: (45447, 7)
tfidf_matrix shape: (45447, 50000)
indices length: 45447

In [ ]:
# print("'The Dark Knight' in indices:", 'The Dark Knight' in indices)
# if 'The Dark Knight' in indices:
#     idx = indices['The Dark Knight']
#     print(f"Index of 'The Dark Knight': {idx}")
#     print(f"Max valid index in df_new: {len(df_new) - 1}")
# else:
#     print("Movies with 'Dark Knight' in title:")
#     print(df_new[df_new['title'].str.contains('Dark Knight', case=False, na=False)]['title'].tolist())

'The Dark Knight' in indices: True
Index of 'The Dark Knight': title
The Dark Knight    12478
The Dark Knight    28688
dtype: int64
Max valid index in df_new: 45446